parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\QueryInterface\\<TYPO3\\\\CMS\\\\Extbase\\\\DomainObject\\\\DomainObjectInterface\\>\\:\\:statement\\(\\)\\.$#"
			count: 1
			path: Classes/Domain/Repository/EntryRepository.php

		-
			message: "#^Class Bzga\\\\BzgaBeratungsstellensuche\\\\Domain\\\\Serializer\\\\Normalizer\\\\GetSetMethodNormalizer extends @final class Symfony\\\\Component\\\\Serializer\\\\Normalizer\\\\GetSetMethodNormalizer\\.$#"
			count: 1
			path: Classes/Domain/Serializer/Normalizer/GetSetMethodNormalizer.php
